version: "3.5"



services:
  web:
    build: .
    container_name: rahmat_web
    restart: always
    ports:
      - "8003:8000"
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
    volumes:
      - .:/app


  db:
    image: postgres:14.2
    container_name: rahmat_postgres
    restart: always
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db: